{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Orders{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Useful links</h1>
    
    <ul>
      <li><a href="/static/Design.pdf">Wireframes</a></li>
      <li><a href="/static/BurgerHandler.swift">BurgerHandler Swift source code</a></li>
      <li><a href="/static/BurgerThing-Icon.zip">Icon</a>
      <li><a href="http://github.com/thesecretlab/burgerthing">Source code on GitHub</a></li>
      
    </ul>
</div>
{% endblock %}
